/* @tailwind base;
@tailwind components;
@tailwind utilities; */
.profile-photo-container {
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px;
     /* Add padding to create some spacing from the top and right edges */
    /* Optional: Add a background color for the container */
     /* Optional: Apply a shadow effect */
  }

  .profile-photo-content {
    position: relative;
    text-align: center;
    
  }
  

  .magnifier-icon {
    position: absolute;
    bottom: 0;
    right: 0;
  }

  .blue-icon {
    color: blue;
   
  }

  .black-icon {
    color: lightsalmon;
   
  }

  .brown-icon {
    color: black;
   
  }
  
  .red-icon {
    color: red;
  }
  
  .icon-large {
    font-size: 1.5rem; /* Adjust the size as needed */
  }

  .transparent-button {
    background-color: transparent;
    border: none; /* To remove the button border */
    padding: 0; /* To remove any extra padding */
    color: red; /* You can set the text color to red or any other color you prefer */
    cursor: pointer;
  }
  .card-icons {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin: 10px;
  }
  
